{% extends "layout.html" %}

{% block body %}
<p>
  Nyt kokataan! Täältä löydät makeimmat ohjeet
</p>

{% if user_recipes is defined %}
<p>
  Näillä käyttäjillä on reseptejä:
</p>

<ul>
  {% for user in user_recipes %}
  <li>
    {{user.name}} {{user.count}}
  </li>
  {% endfor %}
</ul>

{% endif %}

<p><a href="{{ url_for('ingredients_list') }}">Listaa raaka-aineet</a></p>

{% if current_user.user_role == "ADMIN" %}
<p><a href="{{ url_for('ingredient_form') }}">Lisää raaka-aine</a></p>
{% endif %}

{% endblock %}
