{% extends "layout.html" %}
  
{% block body %}

<p>Muokkaa ohjetta</p>

<form method="POST" action="{{ url_for('recipe_edit', recipe_id=recipe.id) }}">
  <table>
    <tr>
      <td>
        <label for="name"">Reseptin nimi</label>
      </td>
      <td>
        {{ form.name }}
      </td>
    </tr>
    <tr>
      <td>
        <label for="difficult">Vaikeustaso</label>
      </td>
      <td>
        {{ form.difficult }}
      </td>
    </tr>
    <tr>
      <td>
        <label for="event">Tilaisuus</label>
      </td>
      <td>
        {{ form.event }}
      </td>
    </tr>
    <tr>
      <td>
        <label for="ingredients">Ainekset</label>
      </td>
      <td>
        {{ form.ingredients }}
      </td>
    </tr>
    <tr>
        <td>
          <label for="text">Valmistusohje</label>
        </td>
        <td>
          {{ form.text }} 
        </td>
      </tr>
    <tr>
      <td colspan="2">
          <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
