{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_create') }}">
  <table>
    <tr>
      <td>
	{{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
	  {% for error in form.name.errors %}
	  <li>{{ error }}</li>
	  {% endfor %}
	</ul>
     </td>
    </tr>
    <tr>
      <td>
        {{ form.difficult.label }}
      </td>
      <td>
        {{ form.difficult }}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.event.label }}
      </td>
      <td>
        {{ form.event }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
  	<input type="submit" value="Lisää uusi resepti"/>
      </td>
    </tr>
  </table>
</form>
{% endblock %}

