{% extends "layout.html" %}
  
{% block body %}
<form method="POST" action="{{ url_for('recipes_create') }}">
  <table>
    <tr>
      <td>
          <label for="name"">Reseptin nimi</label>
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
	  {% for error in form.name.errors %}
	  <li>{{ error }}</li>
	  {% endfor %}
	</ul>
     </td>
    </tr>
    <tr>
      <td>
        <label for="difficult">Vaikeustaso</label>
      </td>
      <td>
        {{ form.difficult }}
      </td>
    </tr>
    <tr>
      <td>
        <label for="event">Tilaisuus</label>
      </td>
      <td>
        {{ form.event }}
      </td>
    </tr>
    <tr>
      <td colspan="3">
          <button type="submit" class="btn btn-primary">Tallenna resepti</button>
      </td>
    </tr>
  </table>
</form>
{% endblock %}

