{% extends "layout.html" %}

{% block body %}
  
  <h1> {{ recipe.name }}</h1>
  <p>Vaikeus: {{ recipe.difficult }}</p>
  <p>Tilaisuus: {{ recipe.event }}</p>
  <p>ohjeen loi: {{ recipe.account_id }}</p>
  <h5>Aineet:</h5>
  <ul>
  {% for ingredient in recipe.recipeingredients %}
  <li>{{ ingredient.name }}</li>
  {% endfor %}
  </ul>

  <h5>Valmistusohje</h5>
  <p> {{ recipe.text }}</p>

  
  
  {% if current_user.id == recipe.account_id or current_user.user_role == "ADMIN" %}
    <p><a href="{{ url_for('recipe_edit', recipe_id=recipe.id) }}">Muokkaa ohjetta</a></p>
    <p><a href="{{ url_for('delete', recipe_id=recipe.id) }}">Poista ohje</a></p>
  {% endif %}
   
  <p><a href="{{ url_for('comment_form', recipe_id=recipe.id) }}">Kommentoi</a></p>

  <table>
    <tr>
      <th>Kommentit</th>
      <th>käyttäjä</th>
    </tr>
    {% for comment in comments %}
    <tr>
      <td>{{ comment.comment_text }}</td>
      <td>{{ comment.account_id }}</td>
    
      <td>{% if current_user.id == comment.account_id or current_user.user_role == "ADMIN" %}
        <p><a href="{{ url_for('comment_edit', comment_id=comment.id) }}">Muokkaa kommenttia</a></p>
        <p><a href="{{ url_for('comment_delete', comment_id=comment.id) }}">Poista kommentti</a></p>
      {% endif %}</td>
    </tr>
    {% endfor %}
  </table>
  

  {% endblock %}

    
